header {
  background: #400e0e;
}

header nav {
  display: block;
}

header nav li {
  text-align: center;
  width: 100%;
}

header nav a {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  font-family: Lato, sans-serif;
  width: 100%;
  transition: 550ms;
}

header nav a:hover {
  background-color: #582b2b;
  transition: 550ms;
  border-radius: 5px;
}

.current {
  background: #6e1818;
  border-radius: 5px;
}

.logo {
  max-width: 5rem;
}

main {
  font-family: Merriweather, serif;
}

h1 {
  font-family: Lato, sans-serif;
}

.h1-white {
  color: #fff;
  width: 15rem;
}

.banner-content {
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
}

.value-proposition {
  background-color: rgba(5, 5, 5, .75);
  border-radius: 8px;
}

.caption {
  color: #6e1818;
}

h2 {
  font-family: Lato, sans-serif;
}

p {
  font-family: Merriweather, serif;
}

.break {
  width: 100%;
}

.feature-icons {
  max-width: 3rem;
}

footer {
  background: #333;
  color: #fff;
  font-family: Merriweather, serif;
}

footer a {
  color: #fff;
  text-decoration: none;
  font-family: Lato, sans-serif;
}

footer ol li {
  display: inline;
}

ol {
  text-align: right;
  width: 50%;
}

.section-feature {
  margin: auto 0;
  text-align: center;
}

.social {
  max-width: 2rem;

}

.social-fb {
  max-height: 1.5rem;
}

.btn {
  background-color: #6e1818;
  border: none;
  font-family: Lato, sans-serif;
}

.btn a {
  color: #fff;
  text-decoration: none;
}

.btn:hover {
  color: #fff;
  text-decoration: none;
  background: #400e0e;
  border: none;
}

.limit {
  max-width: 25em;
}

hr {
  max-width: 25em;
  margin: 0 auto;
  border: 2px solid #6e1818;
}

@media only screen and (min-width: 1em) {

  footer ul {
    display: none;
  }

}

@media only screen and (min-width: 25em) {

  .limit {
    text-align: center;
    margin: 0 auto;
  }

}

@media only screen and (min-width: 38em) {

  header {
    overflow: hidden;
  }

  nav ul {
    text-align: right;
    width: 80%;
    float: right;
  }

  .logo {
    width: 18%;
    display: inline-block;
    float: left;
  }

  nav ul li {
    display: inline-block;
    width: 18%;
  }

  footer ul {
    display: inline;
  }

  hr {
    display: none;
  }

  .banner-content {
    width: 75%;
    max-width: 30em;
  }

  .banner-content h1,
  .banner-content p {
    width: 90%;
    margin: 0 auto;
  }

  .foot-align {
    width: 100%;
    text-align: center;
  }

}

@media only screen and (min-width: 60em) {

  nav ul {
    width: 50%;
  }

}
